<!-- LOGIN Modal -->
<div class="reveal" id="login_modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <p class="lead" id="render_add_rental"> 
    	<%= render 'devise/sessions/new' %>
    </p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!-- SIGNUP Modal -->
<div class="reveal" id="signup_modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <p class="lead" id="render_add_rental"> 
    	<%= render 'devise/registrations/new' %>
    </p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!-- ADD Modal -->
<div class="reveal" id="add_modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<h3>Add a Rental</h3>
  	<p class="lead" id="render_add_rental">
	   <%= render 'rentals/form' %>
	</p>
	<button class="close-button" data-close aria-label="Close modal" type="button">
    	<span aria-hidden="true">&times;</span>
  	</button>
</div>
<!-- STICKY NAV BAR -->
<div id="top_bar" data-sticky-container>
  <div id="top_bar"class="title-bar" data-sticky data-options="marginBottom:0;" style="width:100%" data-top-anchor="1" data-btm-anchor="content:bottom">
    <div id="logo" class="title-bar-left" data-turbolinks="false">
      <%= link_to (image_tag (root_url + "/images/rmr_logo_small.png"), alt: "RMR_logo"), rentals_path, :style=>'background:#660033' %>
    </div>

    <div id="right_header" class="title-bar-right">
	<% if !user_signed_in? %>
		<a id="login_button" data-open="signup_modal">SIGNUP</a> || 
		<a id="login_button" data-open="login_modal">LOGIN</a> &nbsp;
	<% else %>
		<%= link_to "LOGOUT", destroy_user_session_path, :style=>'color:white; background:#660033;', method: :delete, class: 'login_button' %>
    		<a id="add_button" data-open="add_modal">ADD</a>
	<% end %>
    </div>
  </div>
</div>
<br>
<div id="search_body">
<div class="medium-2 columns">
	<fieldset class="fieldset">
		<b>Advance search</b>
		<%= form_for_filterrific @filterrific do |f| %>
			<div>
    				Beds
    				<%= f.select(:beds,
      					@filterrific.select_options[:beds],
     					{ include_blank: '- Any -' }
    				) %>
  			</div>
			<div>
    				Baths
    				<%= f.select(:baths,
      					@filterrific.select_options[:baths],
     					{ include_blank: '- Any -' }
    				) %>
  			</div>
			<ul class="menu vertical" data-accordion-menu>
				<li>
					<a href="#">Amenities</a>
					<ul class="menu vertical nested">
						<div id="search_checks">
							<div id="rental_check"><%= f.check_box :washer_dryer,{}, '1', '' %></div>
							<div id="rental_check_item"><%= f.label :washer_dryer, "Washer&D" %></div>
						</div>
						<div id="search_checks">
							<div id="rental_check"><%= f.check_box :parking,{}, '1', '' %></div>
							<div id="rental_check_item"><%= f.label :parking, "Parking" %></div>
						</div>
						<div id="search_checks">
							<div id="rental_check"><%= f.check_box :pets,{}, '1', ''  %></div>
							<div id="rental_check_item"><%= f.label :pets, "Pets" %></div>
						</div>
						<div id="search_checks">
							<div id="rental_check"><%= f.check_box :pool,{}, '1', '' %></div>
							<div id="rental_check_item"><%= f.label :pool, "Pool" %></div>
						</div>
						<div id="search_checks">
							<div id="rental_check"><%= f.check_box :spa,{}, '1', ''  %></div>
							<div id="rental_check_item"><%= f.label :spa, "Spa" %></div>
						</div>
						<div id="search_checks">
							<div id="rental_check"><%= f.check_box :gym,{}, '1', '' %></div>
							<div id="rental_check_item"><%= f.label :gym, "Gym" %></div>
						</div>
						<div id="search_checks">
							<div id="rental_check"><%= f.check_box :dishwasher,{}, '1', '' %></div>
							<div id="rental_check_item"><%= f.label :dishwasher, "Dishwasher" %></div>
						</div>
						<div id="search_checks">
							<div id="rental_check"><%= f.check_box :central_air,{}, '1', '' %></div>
							<div id="rental_check_item"><%= f.label :central_air, "Air Cond." %></div>
						</div>
						<div>
							<%= f.check_box :heater ,{}, '1', '' %>
							<%= f.label :heater, "Heater" %>
						</div>
					</ul>
				</li>
			</ul>
			<ul class="menu vertical" data-accordion-menu>
				<li>
					<a href="#">Utilities</a>
					<ul class="menu vertical nested">
						<!-- if border is taken off of "search_checks", it doesn't line up. -->
						<div id="search_checks">
							<div id="rental_check"><%= f.check_box :gas,{}, '1', '' %></div>
							<div id="rental_check_item"><%= f.label :gas, "Gas" %></div>
						</div>
						<div id="search_checks">
							<div id="rental_check"><%= f.check_box :electricity,{}, '1', '' %></div>
							<div id="rental_check_item"><%= f.label :electricity, "Electricity" %></div>
						</div>
						<div id="search_checks">
							<div id="rental_check"><%= f.check_box :trash,{}, '1', '' %></div>
							<div id="rental_check_item"><%= f.label :trash, "Trash" %></div>
						</div>
						<div id="search_checks">
							<div id="rental_check"><%= f.check_box :water,{}, '1', '' %></div>
							<div id="rental_check_item"><%= f.label :water, "Water" %></div>
						</div>
					</ul>
				</li>
			</ul>
       			<%= f.hidden_field (:search_query) %>
			<div class="text-center">
				<%= f.submit 'Filter', :class=>"search_filter_button" %>
			</div>
		<% end %>
	</fieldset>
</div>
<br>
<div class="medium-8 columns">
	<%= form_for_filterrific @filterrific, :url => search_show_path do |f| %>
		<div>
			<div class="query_bar">
				<%# give the search field the 'filterrific-periodically-observed' class for live updates %>
				<%= f.text_field(:search_query,
	      				class: 'filterrific-periodically-observed'
	    			) %>
	  		</div>
			<div class="text-center">
				<%= f.submit 'Search', :class=>"search_button" %>
			</div>
		</div>
	<% end %>
</div>

<%= render(
  partial: 'search/list',
  locals: { rentals: @rentals }
) %>
</div>
