<%= form_for(@rental) do |f| %>
  <% if @rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rental.errors.count, "error") %> prohibited this rental from being saved:</h2>

      <ul>
      <% @rental.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :addr_full_adress, placeholder: "Full Street Address" %>
  </div>
  <div class="field">
    <%= f.text_field :addr_street_name, placeholder: "Street Name" %>
  </div>
  <div class="field">
    <%= f.number_field :addr_street_num, placeholder: "Street Number" %>
  </div>
  <div class="field">
    <%= f.number_field :addr_zip, placeholder: "Zipcode" %>
  </div>
  <div class="field">
    <%= f.text_field :addr_city, placeholder: "City" %>
  </div>
  <div class="field">
    <%= f.text_field :addr_state, placeholder: "State" %>
  </div>
  <div class="field">
    <%= f.text_field :addr_country, placeholder: "Country" %>
  </div>
  <div class="field">
    <%= f.number_field :dets_beds, placeholder: "Number of Beds" %>
  </div>
  <div class="field">
    <%= f.number_field :dets_baths, placeholder: "Number of Bathrooms" %>
  </div>
  <div class="field">
	  <div id="rental_check"><%= f.check_box :dets_is_complex %></div>
	  <div id="rental_check_item"><%= f.label :Complex %></div>
  </div>
  <div class="field">
    <%= f.number_field :dets_stories, placeholder: "Number of Stories" %>
  </div>
  <div class="field">
	  <div id="rental_check"><%= f.check_box :dets_company_owned %></div>
	  <div id="rental_check_item"><%= f.label :Company_owned %></div>
  </div>
  <div class="field">
    <%= f.text_field :dets_owner, placeholder: "Owner" %>
  </div>
  <table>
	<thead>
	<tr>
		<th width="50%"> Amenities </th>
		<th width="50%"> Utilities </th>
	</tr>
	</thead>
  <tbody>
  <tr>
	<td>
		<div class="field">
	 		<div id="rental_check"><%= f.check_box :amen_parking %></div>
		 	<div id="rental_check_item"><%= f.label :Parking %></div>
	  	</div>
	</td>
	<td>
	  	<div class="field">
		  	<div id="rental_check"><%= f.check_box :util_gas %></div>
		  	<div id="rental_check_item"><%= f.label "Gas" %></div>
	  	</div>
	</td>
   </tr>
  	<td>
  		<div class="field">
	    	  	<div id="rental_check"><%= f.check_box :amen_pets %></div>
		  	<div id="rental_check_item"><%= f.label :Pets %></div>
	  	</div>
  	 </td>
	 <td>
	  	<div class="field">
		  	<div id="rental_check"><%= f.check_box :util_electricity %></div>
		  	<div id="rental_check_item"><%= f.label "Electricity" %></div>
	  	</div>
	</td>
  </tr>
  <tr>
	 <td>
	  	<div class="field">
		  	<div id="rental_check"><%= f.check_box :amen_washer_dryer %></div>
		  	<div id="rental_check_item"><%= f.label "Washer and dryer" %></div>
	  	</div>
  	 </td>
	 <td>
	  	<div class="field">
		  	<div id="rental_check"><%= f.check_box :util_trash %></div>
			<div id="rental_check_item"><%= f.label "Trash" %></div>
	  	</div>
	 </td>
 </tr>
 <tr>
	 <td>
	  	<div class="field">
		  	<div id="rental_check"><%= f.check_box :amen_pool %></div>
			<div id="rental_check_item"><%= f.label "Pool" %></div>
	  	</div>
	 </td>
	 <td>
	  	<div class="field">
		  	<div id="rental_check"><%= f.check_box :util_water %></div>
		  	<div id="rental_check_item"><%= f.label "Water" %></div>
	  	</div>
	 </td>
  </tr>
  <tr>
	  <td>
	  	<div class="field">
		  	<div id="rental_check"><%= f.check_box :amen_spa %></div>
		  	<div id="rental_check_item"><%= f.label "Spa" %></div>
	  	</div>
	  </td>
	  <td>
	  	<div class="field">
		  	<div id="rental_check"><%= f.check_box :util_tv %></div>
		  	<div id="rental_check_item"><%= f.label "TV" %></div>
	  	</div>
	  </td>
  </tr>
  <tr>
	  <td>
	  	<div class="field">
		  	<div id="rental_check"><%= f.check_box :amen_gym %></div>
		  	<div id="rental_check_item"><%= f.label "Gym" %></div>
	  	</div>
  	  </td>
	  <td>
	  	<div class="field">
		  	<div id="rental_check"><%= f.check_box :util_wifi %></div>
		  	<div id="rental_check_item"><%= f.label "Wifi" %></div>
	  	</div>
	  </td>
  </tr>
  <tr>
	  <td>
	  	<div class="field">
		  	<div id="rental_check"><%= f.check_box :amen_dishwasher %></div>
		  	<div id="rental_check_item"><%= f.label "Dishwasher" %></div>
	  	</div>
  	  </td>
	  <td>
	  </td>
  </tr>
  <tr>
  	<td>
	  	<div class="field">
		  	<div id="rental_check"><%= f.check_box :amen_central_air %></div>
		  	<div id="rental_check_item"><%= f.label "Central Air" %></div>
	  	</div>
	</td>
	<td>
	</td>
  </tr>
  <tr>
	  <td>
	  	<div class="field">
		 	 <div id="rental_check"><%= f.check_box :amen_heater %></div>
			 <div id="rental_check_item"><%= f.label "Heating" %></div>
	  	</div>
	  </td>
	  <td>
	  </td>
  </tr>
  </tbody>
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
