<!-- LOGIN Modal -->
<div class="reveal" id="login_modal" data-reveal>
    <h3>Login or Sign Up</h3>
    <p class="lead" id="render_add_rental"> </p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!-- ADD Modal -->
<div class="reveal" id="add_modal" data-reveal>
	<h3>Add a Rental</h3>
  	<p class="lead" id="render_add_rental"></p>
	<button class="close-button" data-close aria-label="Close modal" type="button">
    	<span aria-hidden="true">&times;</span>
  	</button>
</div>
<!-- TOP BAR -->
<div id="top_bar" class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li id="top_bar" class="menu-text">Rate My Rental</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      	<li id="top_bar"><a id="login_button" data-open="login_modal">LOGIN</a></li>
		<li id="top_bar"><a id="add_button" data-open="add_modal">ADD</a> </li>
    </ul>
  </div>
</div>
<br>
<%= link_to 'New Rental', new_rental_path %>
<!-- SEARCH BAR -->
<div id="search_bar" class="row">
	<div class="large-12 columns">
		<div class="row collapse">
			<div class="small-12 small-center columns">
				<div class="SearchBar">
    				<%= form_for_filterrific @filterrific, :url => search_show_path do |f| %>
    					<div>
        					<%= f.text_field(
        					:search_query,
        					) %>
    					</div>
    				<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- RENTAL LISTINGS -->
<div id="rental_listings_div">
<br>
    <% @rentals.each do |rental| %>
    	<div id="rental_div" class="row">
		<div class="small-12 small-center columns">
			<div id="rental_default_image_div">
    			<%= link_to 'Show', rental, data: { no_turbolink: true } %>
        		<% rental.images.each do |image| %>
          			<% if image.default == true %>
             			<%= image_tag (root_url + "/images/" + image.filename) %>
          			<%end%>
        		<%end%>
			</div>
			<div id="addr_and_rating_div">
				<ul>
        			<li><%= rental.addr_full_adress %></li>
					<li><b> Rating </b></li>
				</ul>
			</div>
			<div id="details_div">
				<ul>
					<li><%= rental.dets_beds %> Bed </li>
        			<li><%= rental.dets_baths %> Bath </li>
					<li><b> Price </b></li>
				</ul>
			</div>
			<div id="ammed_div">
				<ul>
					<%if(rental.amen_parking)%>
						<li>Parking on site</li>
					<%end%>
                    <%if(rental.amen_pets)%>
                        <li>Pets allowed</li>     
                    <%end%> 
                    <%if(rental.amen_washer_dryer)%>
                        <li>Washer & Dryer</li>     
                    <%end%> 
                    <%if(rental.amen_pool)%>
                        <li>Pool</li>     
                    <%end%> 	
                    <%if(rental.amen_spa)%>
                        <li>Spa</li>     
                    <%end%> 
                    <%if(rental.amen_gym)%>
                        <li>Gym</li>     
                    <%end%> 
                    <%if(rental.amen_dishwasher)%>
                        <li>Dishwasher</li>     
                    <%end%> 	
                    <%if(rental.amen_central_air)%>
                        <li>Central Air</li>     
                    <%end%> 
                    <%if(rental.amen_heater)%>
                        <li>Heater</li>     
                    <%end%> 
				</ul>
			</div>	
		</div>
		</div>
		<br>
    <% end %>
</div>
<!-- MISSION STATEMENT & FOOTER -->
<div id="footer" data-sticky-container>
  <div id="footer"class="title-bar" data-sticky data-options="marginBottom:0;" style="width:100%" data-top-anchor="1" data-btm-anchor="content:bottom">
    <div class="title-bar-left">
    	<h4>Our Mission ...</h4>
    	<i>At Rate My Rental we strive to introduce and educate renters and make their home dreams a reality. </i>
	</div>
    <div class="title-bar-right">
		 Contact Us: PHONE | EMAIL 
	</div>
  </div>
</div>
