extends ../layout

block content
	h1.
		Rental ID #{rental._id}
	form(action='/rentals/#{rental._id}/edit',method='post',name='updaterental',enctype='application/x-www-form-urlencoded')
		p Full Address: 
			input#inputFullAddress(type="text", value='#{rental.address.full_street_add}', name="full_street_add")
		p Street Number:
			input#inputStreetNum(type="number", value='#{rental.address.street_num}', name="street_num")
		p Street Name: 
			input#inputStreetName(type="text", value='#{rental.address.street_name}', name="street_name")
		p Zip code: 
			input#inputZipcode(type="number", value='#{rental.address.zip_code}', name="zip_code")
		p city: 
			input#inputCity(type="text", value='#{rental.address.city}', name="city")
		p country: 
			input#inputCountry(type="text", value='#{rental.address.country}', name="country")
		p bedrooms: 
			input#inputBedrooms(type="number", value='#{rental.details.bedrooms}', name="bedrooms")
		p bathrooms: 
			input#inputBathrooms(type="number", value='#{rental.details.bathrooms}', name="bathrooms")
		p is it a complex:
			- var check = rental.details.is_complex;
			input#inputIsComplex(type="checkbox", checked=check, name="is_complex")
		p stories: 
			input#inputStories(type="number", value='#{rental.details.stories}', name="stories")
		p company_owned: 
			- var check = rental.details.company_owned;
			input#inputCompanyOwned(type="checkbox", checked=check, name="company_owned")
		p owner: 
			input#inputOwner(type="text", value='#{rental.details.owner}', name="owner")
		p parking: 
			- var check = rental.amenities.parking;
			input#inputParking(type="checkbox", checked=check, name="parking")
		p pets: 
			- var check = rental.amenities.pets;
			input#inputPets(type="checkbox", checked=check, name="pets")
		p washer_dryer: 
			- var check = rental.amenities.washer_dryer;
			input#inputWasherDryer(type="checkbox", checked=check, name="washer_dryer")
		p pool: 
			- var check = rental.amenities.pool;
			input#inputPool(type="checkbox", checked=check, name="pool")
		p spa: 
			- var check = rental.amenities.spa;
			input#inputSpa(type="checkbox", checked=check, name="spa")
		p gym: 
			- var check = rental.amenities.gym;
			input#inputGym(type="checkbox", checked=check, name="gym")
		p dishwasher: 
			- var check = rental.amenities.dishwasher;
			input#inputDishwasher(type="checkbox", checked=check, name="dishwasher")
		p central_air: 
			- var check = rental.amenities.central_air;
			input#inputCentralAir(type="checkbox", checked=check, name="central_air")
		p heater: 
			- var check = rental.amenities.heater;
			input#inputHeater(type="checkbox", checked=check, name="heater")
		p gas: 
			- var check = rental.utilities.gas;
			input#inputGas(type="checkbox", checked=check, name="gas")
		p electricity: 
			- var check = rental.utilities.electricity;
			input#inputElectricity(type="checkbox", checked=check, name="electricity")
		p trash: 
			- var check = rental.utilities.trash;
			input#inputTrash(type="checkbox", checked=check, name="trash")
		p water: 
			- var check = rental.utilities.water;
			input#inputWater(type="checkbox", checked=check, name="water")
		p tv: 
			- var check = rental.utilities.tv;
			input#inputTv(type="checkbox", checked=check, name="tv")
		p wifi: 
			- var check = rental.utilities.wifi;
			input#inputWifi(type="checkbox", checked=check, name="wifi")
		p
			input(type='hidden',value='PUT',name='_method')
		p
			button#btnSubmit(type='submit').
				Update
